<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.contador" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pagina Principal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Pagina_principal"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Contador"
            android:exported="true">
        </activity>

        <activity android:name=".calculadora"
            android:label="Calculadora"
            android:exported="true">
        </activity>

        <activity android:name=".menu_juego"
            android:label="Menu_Juegos"
            android:exported="true">
        </activity>

        <activity android:name=".juego"
            android:label="juego_tres_en_raya"
            android:exported="true">
        </activity>
        <activity android:name=".herramientas"
            android:label="Herramientas"
            android:exported="true">
        </activity>

        <service android:name=".Servicios" android:enabled="true"></service>
</application>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash"/>
</manifest>